{% extends "less_base.html" %}

{% block topbar_base %}{% endblock %}

{% block body %}

<div class="hero-unit">
    <h1>News Challenge Stats</h1>

    <p>
        This site, which is not affiliated with the
        <a href="http://newschallenge.tumblr.com/">Knight News Challenge</a>, aims
        to provide you with a scannable list of all of the entries along with some
        high-level statistics.
    </p>

    <p class="chart" id="numberOfSubmissions">
    </p>

</div>

<div class="row">
    <div class="span4">
        <div class="well">
            <h2>Statistics</h2>

            <dl>
                <dt>Total Entrants</dt>
                <dd>{{ entries_count }}</dd>

                <dt>Invalid Entries</dt>
                <dd>{{ invalid_entries_count }}</dd>
            </dl>

            <div class="modal hide" id="invalidModal">
              <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Invalid Entries</h3>
              </div>
              <div class="modal-body">
                <p>
                    These might be perfectly valid entries, but the entries
                    did not follow the standardized form in such a way that
                    their entry can be easily parsed.
                </p>

                <p>
                    This project is open-source, so if you'd like to help out
                    with the parser so we can get all of these entries added,
                    please visit the <a href="#TODO">GitHub repo</a>.
                </p>
              </div>
            </div>

        </div>
    </div>

    <div class="span8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Summary</th>
                    <th>Amount</th>
                </tr>
            </thead>

            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>
                        <a href="{{ object.url }}">{{ object.title }}</a>
                    </td>

                    <td>{{ object.what }}</td>
                    <td>{{ object.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% comment %}Really shouldn't hot-link{% endcomment %}
<script src="http://documentcloud.github.com/underscore/underscore.js"></script>
<script src="http://mbostock.github.com/d3/d3.v2.js?2.8.0"></script>
<script>
$(function() {
    $("#invalidTooltip").popover();
});

    var numberOfSubmissions = $("#numberOfSubmissions"),
        data = {{ js_totals|safe }},
        dataValues = _.values(data),
        dataKeys = _.keys(data),
        w = numberOfSubmissions.width() / 19,
        h = 80,
        x = d3.scale.linear()
            .domain([0, 1])
            .range([0, w]),
        y = d3.scale.linear()
            .domain([0, Math.max.apply(Math, dataValues)])
            .rangeRound([0, h]),
        chart = d3.select("#numberOfSubmissions").append("svg")
            .attr("class", "chart")
            .attr("width", w * 19);
        // Create the individual bars
        chart.selectAll("rect").data(dataValues)
            .enter().append("rect")
            .attr("x", function(d, i) { console.log("x(" + d + ", " + i +") called"); return x(i) - .5; })
            .attr("y", function(d) { console.log("y(" + d + ") called"); return h - y(d) - .5})
            .attr("width", w)
            .attr("height", function(d) { console.log("y(" + d + ") == " + y(d)); return y(d); });

        // Add label to each of the bars
        chart.selectAll("text").data(data)
            .enter().append("text")
            .attr("x", x)
            .attr("y", function(d) { return y(d) + y.rangeBand() / 2; })
            .attr("dx", -3)
            .attr("dy", ".35em")
            .attr("text-anchor", "end")
            .text(String);

        // Add a bar along the bottom
        chart.append("line")
            .attr("x1", 0)
            .attr("x2", w * 19)
            .attr("y1", h - .5)
            .attr("y2", h - .5)
            .style("stroke", "#000");


</script>
<style>
#numberOfSubmissions {
    width: 1050px;
    height: 100px;
}
.chart rect {
    fill: steelblue;
    stroke: white;
}
</style>
{% endblock %}
